<h1>Post Details</h1>

<%= link_to "Back To Sherpa Listings", pages_main_path, class: "link_ul"%>

<%= render "post", post: @post, username: @user %>

<% if current_user.username == @user %>

<%= link_to "Edit Post", edit_post_path, class: "link_ul" %>

<% end %>
<h2>Comments:</h2>
<% @comments.each do |comment| %>
<% if comment.user_id != nil %>
<%= render "comments/comment", comment: comment, username: @allUsers.find(comment.user_id).username  %>
<% end %>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>